* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: #fff;
}

.tweets {
    margin: 0 auto;
    padding: 2rem;
/*    display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.tweet {
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 0px;
    margin: 0;
    list-style-type: none;
    width: 25%;
    color: #2c3e50;
    background: white;
    min-height: 150px;
    flex-grow: 1; 
    float: left;   
}

.tweet:first-of-type {

    background: #e0ebff;
}

.tweet .avatar {
    position: relative;
    display: inline-block;
    float: left;
    width: 48px;
    margin: 10px;
}

.tweet blockquote {
    font-size: 14px;
    display: inline-block;
    float: right;
    width: calc(100% - 72px);
    margin: 0;
    padding: 10px;
}

.tweet blockquote cite {
    font-weight: bold;
    font-style: normal;
}

.tweet blockquote cite a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color: #e32424;
}

.tweet blockquote cite a:hover {
    text-decoration: underline;
}

.tweet blockquote .screen-name {
    font-size: 13px;
    font-weight: normal;
    color: #ccc;
}

.tweet blockquote .content {
    display: block;
    clear: left;
    margin-top: 5px;
}

.tweet:before,
.tweet:after {
    display: table;
    content: ' ';
}

.tweet:after {
    clear: both;
}

.loader {
    text-align: center;
    background: #e32424;
    padding: 1rem;
        float: right;
}